# trying to run the model

In [13]:
import xgboost as xg
import pandas as pd

In [14]:
model = xg.Booster()
model.load_model("../models/xg_model_house.json")
print(model)

<xgboost.core.Booster object at 0x00000219AAC1C310>

In [15]:
test_sample = {'primary_energy_consumption': {754: 182},
 'furnished': {754: 0},
 'terrace': {754: 1},
 'terrace_surface': {754: 0},
 'plot_surface': {754: 0},
 'living_room_surface': {754: 0},
 'frontages': {754: 0},
 'construction_year': {754: 0},
 'bedrooms': {754: 1},
 'bathrooms': {754: 1},
 'shower_rooms': {754: 0},
 'office': {754: 0},
 'toilets': {754: 0}}

test_sample = {'primary_energy_consumption': 1.0,
  'furnished': 0,
  'terrace': 1,
  'terrace_surface': 9,
  'plot_surface': 198,
  'living_room_surface': 25,
  'frontages': 3,
  'construction_year': 2021,
  'bedrooms': 3,
  'bathrooms': 2,
  'shower_rooms': 0,
  'office': 1,
  'toilets': 3}

In [21]:
test_df = pd.DataFrame.from_dict(test_sample)
display(test_df)
xgtest = xg.DMatrix(test_df.values)
print(float(model.predict(xgtest)))
type(xgtest)

,primary_energy_consumption,furnished,terrace,terrace_surface,plot_surface,living_room_surface,frontages,construction_year,bedrooms,bathrooms,shower_rooms,office,toilets
754,182,0,1,0,0,0,0,0,1,1,0,0,0

283792.3125

C:\Users\freva\AppData\Local\Temp\ipykernel_24016\3655571609.py:4: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(float(model.predict(xgtest)))

xgboost.core.DMatrix